@use "./variables" as variables;
@use "./mixins" as mixins;

:root {
  // input
  --p-inputtext-focus-border-color: #{variables.$primary} !important;
  --p-inputtext-color: #{variables.$secondary} !important;
  --p-floatlabel-focus-color: #{variables.$secondary} !important;

  // spinner
  --p-progressspinner-color-1: #{variables.$primary} !important;
  --p-progressspinner-color-2: #{variables.$primary} !important;
  --p-progressspinner-color-3: #{variables.$primary} !important;
  --p-progressspinner-color-4: #{variables.$primary} !important;
}

//input
.p-inputtext {
  color: variables.$secondary !important;
}
.p-inputtext,
.p-floatlabel-on:has(input:focus) label,
.p-floatlabel-on:has(input.p-filled) label,
.p-floatlabel-on:has(input:-webkit-autofill) label,
.p-floatlabel-on:has(textarea:focus) label,
.p-floatlabel-on:has(textarea.p-filled) label,
.p-floatlabel-on:has(.p-inputwrapper-focus) label,
.p-floatlabel-on:has(.p-inputwrapper-filled) label {
  background-color: variables.$body !important;
}

//dialog
.p-dialog.p-component {
  background-color: variables.$body !important;
  border: none !important;
}
.p-dialog-header {
  padding-top: 16px;
  padding-bottom: 0;
  color: variables.$secondary !important;
}
.p-dialog-mask {
  padding: 16px;
}
.p-dialog-close-button {
  outline: none !important;
  @include mixins.transition(border-color);
  &:focus-visible {
    border-color: variables.$primary !important;
    border-width: 2px !important;
  }
}

//select
.p-select-overlay {
  border-radius: 6px;
  overflow: hidden;
  background-color: variables.$body !important;
  color: variables.$secondary !important;
  border-color: variables.$primary !important;
}
.p-select-option-label {
  color: variables.$secondary !important;
}
.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
  background-color: variables.$secondary300 !important;
}
.p-select-list-container, .p-select-list, .p-select-overlay {
  background-color: variables.$body !important;
}
.p-select-option-check-icon {
  color: variables.$secondary !important;
}
