@use "./variables" as variables;
@use "./mixins" as mixins;

:root {
  // select
  --p-select-border-color: #{variables.$secondary} !important;
  --p-select-focus-border-color: #{variables.$primary} !important;
  --p-select-option-focus-background: var(--p-gray-200) !important;

  // input
  --p-inputtext-focus-border-color: #{variables.$primary} !important;
  --p-inputtext-color: #{variables.$secondary} !important;
  --p-floatlabel-focus-color: #{variables.$secondary} !important;

  // spinner
  --p-progressspinner-color-1: #{variables.$primary} !important;
  --p-progressspinner-color-2: #{variables.$primary} !important;
  --p-progressspinner-color-3: #{variables.$primary} !important;
  --p-progressspinner-color-4: #{variables.$primary} !important;

  // drawer
  --p-drawer-header-padding: 0 !important;
  --p-drawer-content-padding: 0 !important;

  // toast
  --p-toast-width: min(300px, 96%) !important;

  // carousel
  --p-carousel-indicator-active-background: #{variables.$primary} !important;
}

// drawer
.p-drawer-header {
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: flex-end;
}
.p-drawer {
  width: 240px !important;
}
.p-drawer-close-button:focus-visible {
  border-color: variables.$primary !important;
  border-width: 2px !important;
  outline: none !important;
  @include mixins.transition(border-color);
}

// dialog
.p-dialog-header {
  padding-top: 16px;
  padding-bottom: 0;
}
.p-dialog-mask {
  padding: 16px;
}
.p-dialog-close-button {
  outline: none !important;
  @include mixins.transition(border-color);
  &:focus-visible {
    border-color: variables.$primary !important;
    border-width: 2px !important;
  }
}

// carousel
.p-carousel-prev-button,
.p-carousel-next-button {
  display: none !important;
  @media #{variables.$sm-screen} {
    display: block !important;
  }
}
