$base-font-size: 16px;

$sm-screen: "(min-width: 640px)";
$md-screen: "(min-width: 768px)";
$lg-screen: "(min-width: 1024px)";
$xl-screen: "(min-width: 1280px)";

$container-max-width: 1568px;
$header-height: 60px;
$header-height-lg: 80px;

$container-inline-padding: 16px;
$container-inline-padding-sm: 32px;
$container-inline-padding-lg: 48px;

$transition-duration: 0.2s;
$transition-function: ease;

$header-z-index: 10;
$spinner-z-index: 15;
$overlay-z-index: 20;



