$base-font-size: 16px;

$sm-screen: "(min-width: 540px)";
$md-screen: "(min-width: 640px)";
$lg-screen: "(min-width: 768px)";
$xl-screen: "(min-width: 1024px)";
$xxl-screen: "(min-width: 1280px)";

$container-max-width: 1568px;
$header-height: 60px;
$header-height-xxl: 80px;

$transition-duration: 0.2s;
$transition-function: ease;

$header-z-index: 10;
$spinner-z-index: 15;
$overlay-z-index: 20;

$primary: #fde047;
$primary50: #fefce8;
$secondary: #1f2937;
$secondary300: #d1d5db;
$secondary500: #6b7280;
$alert: #dc2626;
$alertLight: #f87171;
$body: #fff;
$overlay: rgba($secondary, 0.6);
$spinnerScreenOverlay: rgba($secondary, 0.3);
$boxShadow: 0px 0px 8px 2px rgba($secondary, 0.15);
